@model IEnumerable<Moto_ShowsCore.Models.Clients>

@{
    ViewData["Title"] = "Index";
}

<h1>Клієнти</h1>

<p>
    <a asp-action="Create">Додати нового клієнта</a>
</p>
<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            Пошук за ПІБ: <input type="text" name="SearchString" value="@ViewData["currentFilter"]" />
            <input type="submit" value="Пошук" class="btn btn-primary" /> |
            <a asp-action="Index">Повернутися до повного списку</a>
        </p>
    </div>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @*@Html.DisplayNameFor(model => model.Name)*@
                ПІБ
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.Telephone)*@
                Номер телефону
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.Cars)*@
                Автомобілі
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telephone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cars.Brand)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Редагувати</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Видалити</a>
            </td>
        </tr>
}
    </tbody>
</table>
